/* (•̀ ω •́)✧ global stuff */

@font-face {
  font-family: cherry;
  src: url("/fonts/Cherrybomb.ttf");
}

@font-face {
  font-family: "mspg";
  src: local("ms pgothic"), url("/fonts/MS-PGothic.ttf");
}

@font-face {
  font-family: "manekofont";
  src:
    url("/fonts/ManekoWriting.ttf");
}

@font-face {
  font-family: "manekopixel";
  src:
    url("/fonts/Mko.ttf");
}

:root {
  --accent1: #f71052;
  --accent2: #8f8f8f;
  --accent3: #639BFF;
  --dark: #5873a9;
  --medium: #93bbff;
  --light: #ffffff;
  --black: #3c3e3f;
  --transwhite: #ffffffe6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* (•̀ ω •́)✧ base things */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(/media/daybg.png);
  background-repeat: repeat;
  background-size: cover;
  font-family: "mspg";
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  text-align: justify;
  color: var(--black);
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
}

/* (•̀ ω •́)✧ layout containers */

.page-wrap {
  max-width: 1000px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  /* background: rgba(255, 255, 255, 0.9);
		border-radius: 12px;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.banner {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
  width: 100%;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  /* border: solid #ff0000 2px; */
}

.left,
.right,
.center {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.left,
.right {
  width: 200px;
}

.left {
  align-self: flex-start;
  /* border: solid #9900ff 2px; */
}

.center {
  flex: 1;
  min-width: 400px;
  max-width: 600px;
}

.bubble {
  padding: 10px;
  background-color: var(--light);
  border: 1px dashed var(--accent2);
  border-radius: 10px;
}

.center>.bubble {
  height: 475px;
  padding: 3px;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
}

.rum {
  float: right;
  padding: 0px;
  margin: 0px;
}

.updates ul {
  margin: 0px;
  padding: 3px;
}

.updates ul li {
  list-style: none;
  padding: 3px 0px;
}

.updates h3 {
  font-family: "mspg";
  font-size: 16px;
  margin-top: 0px;
}

.copy-right p {
  font-family: Verdana;
  font-size: 9px;
  color: var(--light);
}

.linkme {
  text-align: center;
}

.swrap {
  overflow: auto;
}

.rings {
  padding: 4px;
}

.rcontent {
  overflow: auto;
  max-height: 150px;
}

.updates {
  padding: 4px;
}

.uframe {
  padding: 0px;
  border: none;
  height: 100%;
  width: 100%;
  max-height: 100px;
}

/* (•̀ ω •́)✧ frames */

.mainframe {
  border: none;
  height: 100%;
  width: 100%;
}

.footer-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 700px;
  max-width: 700px;
  /* border: solid #ff0000 2px; */
}

.scrollframe {
  border: none;
  height: 100%;
  max-height: 53px;
  width: 100%;
}

.lbframe {
  border: none;
  height: 100%;
  max-height: 53px;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.main {
  position: relative;
  background: var(--transwhite);
}

.main-stk-1 {
  position: absolute;
  bottom: -35px;
  right: -25px;
  /* width: 83px; */
  z-index: 10;
  pointer-events: none;
  transform: rotate(5deg);
}

/* (•̀ ω •́)✧ everything else */

h1,
h2,
h3 {
  font-family: "cherry";
  color: var(--black);
  text-shadow: 1px 1px 1px var(--medium);
  margin: 0px;
  /* padding-bottom: 3px; */
  text-align: center;
  /* text-decoration: underline; */
}

h4 {
  font-weight: bold;
  font-style: normal;
  color: var(--black);
  text-shadow: 1px 1px 1px var(--accent1);
  text-align: center;
  margin: 0px;
  padding: 0px;
}

em {
  font-weight: bold;
  font-style: normal;
  color: var(--black);
  text-shadow: 1px 1px 1px var(--medium);
}

#em2 {
  font-weight: bold;
  font-style: normal;
  color: var(--black);
  text-shadow: 1px 1px 1px var(--accent1);
}

a {
  color: var(--medium);
}

/* (•̀ ω •́)✧ now playing script */

#listening {
  padding-top: 10px;
  text-align: center;
}

#cover {
  width: 75%;
  border: 1px solid var(--accent2);
}

#trackName {
  margin: 2px 0 5px 0;
}

#artistName {
  margin: 1px;
  font-weight: bold;
  font-size: 10px;
  color: var(--black);
  text-shadow: 1px 1px 1px var(--medium);
}

/* cover effect */

.cover-wrapper {
  position: relative;
  display: inline-block;
}

.cover-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url("/media/cherry.gif") repeat;
  opacity: 1;
  mix-blend-mode: screen;

  z-index: 2;
}

/* (•̀ ω •́)✧ scrollbars */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--dark) white;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--dark);
  border-radius: 10px;
  border: 3px double #ffffff;
}

::selection {
  color: white;
  background: var(--dark);
}


/* blog stuff */

/* .blogtitle h1 {
  font-size: 32px;
  color: var(--black);
  text-shadow:
    1px 1px var(--light),
    -1px 1px var(--light), 1px -1px var(--light),
    -1px -1px var(--light);
}

.blog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light);
  border: 1px dashed var(--accent2);
  border-radius: 10px;
  width: 100%;
  max-width: 700px;
  height: 70vh;
  max-height: calc(100vh - 120px);
  margin-top: 20px;
  box-sizing: border-box;
  overflow: auto;
  z-index: 1;
}

.blogcontent {
  padding: 10px;
  width: 100%;
  flex-grow: 1;
  overflow: auto;
}

.blogcontent p {
  font-family: verdana;
  color: var(--black);
  font-size: 12px;
  line-height: 1.25;
  text-align: justify;
  hyphens: auto;
}

.blognav {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.blognav a {
  font-size: 32px;
  color: var(--black);
  text-shadow:
    1px 1px var(--light),
    -1px 1px var(--light), 1px -1px var(--light),
    -1px -1px var(--light);
}


.tab {
  opacity: 45%;
  font-size: 24px;
  font-family: 'cherry';
  border: none;
  background: none;
  color: var(--transwhite);
  text-shadow:
    1px 1px 3px var(--accent2),
    -1px 1px 3px var(--accent2), 1px -1px 3px var(--accent2),
    -1px -1px 3px var(--accent2);
}

.activeyear {
  opacity: 100%;
  font-size: 24px;
  font-family: 'cherry';
  border: none;
  color: var(--transwhite);
  text-shadow:
    1px 1px 2px var(--accent1),
    -1px 1px 2px var(--accent1), 1px -1px 2px var(--accent3),
    -1px -1px 2px var(--accent3);
} */